/* ==========================================================================
 Base styles: opinionated defaults
 ========================================================================== */
 
html, button, input, select, textarea {
	border: none;
	font-size: 9pt;
	font-family: fixedsys, LucidaTerminal, monospace;
	color: #909090;
}

body {
	background-color:#000000;
	font-size: 9pt;
	font-family: fixedsys, LucidaTerminal, monospace;
	color: #909090;
}

#container {
	width:100%; 
	float:left;
}

#header {
	text-align:center;
}

#header hr {
	display: block; 
	height: 1px;     
	border: 0; 
	border-top: 2px solid #00ff00;     
	/*margin: 1em 0; 
	padding: 0; */
}

#header-left {
	float:left;
	width:15%;
	margin-top:32px;
	margin-left:65px;
	background-color:#FFF;
}

#header-center {
	font-size:64px;
	margin:0 auto;
	position:relative;
	width:33%;
	background-color:#CCC;
}

#header-right {
	float:right;
	width:15%;
	margin-top:-60px;
	margin-right:65px;
	background-color:#999;
}

#header-message {
	width:100%;
	background-color:#666;
}

#outputContainer {
	float:left;
	width:100%;
}

#inputContainer {
	width:100%;
	float:left;
}

a {
	color:#00ff00;
}

/* ==========================================================================
   Output container styling
 ========================================================================== */

.entryBox {
    position:absolute;
    bottom:0px;
    left:-300px;
}

img{
    vertical-align: bottom;
}
